In [3]:
from faker import Faker
import pandas as pd

f = Faker()

In [4]:
f.unique.first_name()

'Tracy'

In [5]:
f.unique.last_name()

'Lowery'

In [6]:
f.unique.ssn()

'462-66-0934'

In [7]:

data = {
    "firstname" : [],
    "lastname" : [],
    "ssn" : []
}
for i in range(5):
    data["firstname"].append(f.unique.first_name())
    data["lastname"].append(f.unique.last_name())
    data["ssn"].append(f.unique.ssn())

df = pd.DataFrame.from_dict(data)
df

  firstname lastname          ssn
0     Bobby   Murphy  311-86-0375
1     Laura    Riggs  489-13-2611
2       Jon    Roach  279-37-1506
3    Ashley   Jordan  679-41-3344
4      Dana      Cox  038-77-6522

In [ ]:
df.to_csv("csv_data0.csv", index=False)

In [ ]:
df.to_json("json_data0.json",orient='records', lines=True)